@model SVGTransform.Models.ContentImage

@if (Model?.OriginalImage != null)
{
    <div class="row">
        <div class="col-md-6">
            <h2>Original Image</h2>
            <div class="main">
                <img src="data:image/png;base64, @Html.DisplayFor(model => model.OriginalImage)" alt="Original"/>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Modified Image</h2>
            <div class="main">
                <img src="data:image/png;base64, @Html.DisplayFor(model => model.ModifiedImage)" alt="Modified"/>
            </div>
        </div>
    </div>
}