﻿@model SVGTransform.Models.ContentSvg

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <br/>
    <div class="row">
        <div class="col-md-4">
            <h2>SVG Editor</h2>
            <p>
                Enter values to modify the SVG document, then press 'Transform' button.
            </p>
        </div>
    </div>
    
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Opacity)
            </div>
            @Html.TextBoxFor(model => model.Opacity, new { type = "number", min = "0", max = "1", value="1", style= "width:150px;"})
        </div>
    </div>
    
    <div class="form-group">
        <div class="row">
                    <div class="col-md-2">
            @Html.LabelFor(model => model.Scale)
            </div>
            @Html.TextBoxFor(model => model.Scale, new { type = "number" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.ColorBackground)
            </div>
                @Html.TextBoxFor(model => model.ColorBackground, new { id="colorpicker", @Value="ffffff", @class="colorpicker" })
             </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.AngleDegree)
                <div>
                    <div>
                        <img src="~/Resources/icon-nomal.png" />
                        @Html.RadioButtonFor(x => x.AngleDegree, 0,
                            new {Checked = "checked"})<label>0°</label>
                    </div>
                    <div>
                        <img src="~/Resources/icon-90.png" />
                        @Html.RadioButtonFor(x => x.AngleDegree, 90)<label>90° (Izq)</label>
                    </div>
                    <div>
                        <img src="~/Resources/icon-180.png" />
                        @Html.RadioButtonFor(x => x.AngleDegree, 180)<label>180° (Izq)</label>
                    </div>
                    <div>
                        <img src="~/Resources/icon-270.png" />
                        @Html.RadioButtonFor(x => x.AngleDegree, 270)<label>270° (Izq)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>Load Image: </label>
        </div>
        <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);"/>
    </div>
    <br/>
    <div class="row">
        <div class="form-group">
            <div>
                <input type="submit" value="Transform" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}

@Html.Partial("DisplayImage", Model?.Image)

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    $(document).on("click", ":submit", function (e) {
      if (!$('#ImageData').val()) {
        e.preventDefault();
        alert('Please Upload an SVG document');
      }
    })
    
    $(function() { $('.colorpicker').wheelColorPicker(); });

    function fileCheck(obj) {
        let fileExtension = 'svg';
        if ($(obj).val().split('.').pop().toLowerCase() !== fileExtension) {
            $(obj).val('');
            alert("Only '.svg' format is allowed.");
        }
    }
</script>